
.img{
    display: flex;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
*{
    margin: 0;
    padding: 0;
}
.bar{
    display: flex;
    justify-content: space-between;
    background-color: gray;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    
}
li{
    list-style-type: none;
    
}
.section{
    text-align: justify;
    display: flex;
    justify-content: center;
}
.section img {
    width: 50px;
    height: 50px;
}

.p{
    text-align: justify;
    font-size: 20px;
    color: gray;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.ul-content{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}
.li-content{
    font-size: 20px;
    list-style-type: none;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}
.a-content{
    text-decoration: none;
    color: black;
}
.a-nav{
    text-decoration: none;
    color: black;
}
footer {
        background-color: white;
        padding: 20px;
        text-align: center;
    }
.social-icons img{
     width: 30px; 
     margin: 0 10px; 
     vertical-align: middle;
}
.th{
    background-color: gray;
    padding: 20px;
    margin: 20px;
    
}

.h1{
    font-size: 20px;
    text-align: center;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
}
.td{
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    background-color: whitesmoke ;
    
    
}
.card{
    box-shadow: -12px 2px 55px 24px rgba(0,0,0,0.52);
-webkit-box-shadow: -12px 2px 55px 24px rgba(0,0,0,0.52);
-moz-box-shadow: -12px 2px 55px 24px rgba(0,0,0,0.52);
}
table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}
.tr{
    border-bottom: 1px;
    text-align: center;
    font-size: 20px;
}
.bar{
   text-align: center;
   display: flex;
   justify-content: center;
   
}