.img{
    display: flex;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.nav-container{
    padding: 9px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
   
}
.nav{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.li-navbar {
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
 
  
}

.li-navbar:hover{
   background-color: greenyellow;
    transition: 2s ease-in-out;
    border-radius: 20px;
}
.ul-content{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}
.li-content{
    font-size: 20px;
    list-style-type: none;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: azure;
}
.a-content{
    text-decoration: none;
    color: black;
}
.a-nav{
    text-decoration: none;
    color: black;
}
footer {
        background-color: white;
        padding: 20px;
        text-align: center;
    }
.social-icons img{
     width: 30px; 
     margin: 0 10px; 
     vertical-align: middle;
}
.yahaa{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.th{
    background-color: gray;
    padding: 20px;
    margin: 20px
}
.td{
    padding: 20px;
    margin: 20px;
    text-align: center;
}